<a href="https://colab.research.google.com/github/irfoooo/Projects/blob/main/Salary_Prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
d = pd.read_csv('hiring.csv')
d

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
d.experience = d.experience.fillna("zero")
d

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
!pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: word2number in /usr/local/lib/python3.8/dist-packages (1.1)

In [ ]:
d = d.rename(columns={"test_score(out of 10)": "testscore"})

In [ ]:
d = d.rename(columns={"interview_score(out of 10)": "interviewscore"})

In [ ]:
d = d.rename(columns={"salary($)": "salary"})

In [ ]:
from word2number import w2n
d.experience = d.experience.apply(w2n.word_to_num)
d

   experience  testscore  interviewscore  salary
0           0        8.0               9   50000
1           0        8.0               6   45000
2           5        6.0               7   60000
3           2       10.0              10   65000
4           7        9.0               6   70000
5           3        7.0              10   62000
6          10        NaN               7   72000
7          11        7.0               8   80000

In [ ]:
import math
median_test_score = math.floor(d['testscore'].mean())
median_test_score

7

In [ ]:
d['testscore'] = d['testscore'].fillna(median_test_score)
d

   experience  testscore  interviewscore  salary
0           0        8.0               9   50000
1           0        8.0               6   45000
2           5        6.0               7   60000
3           2       10.0              10   65000
4           7        9.0               6   70000
5           3        7.0              10   62000
6          10        7.0               7   72000
7          11        7.0               8   80000

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(d[['experience','testscore','interviewscore']],d['salary'])

LinearRegression()

In [ ]:
reg.predict([[2,9,6]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53713.86677124])

In [ ]:
!pip install gradio

In [ ]:
import gradio as gr

In [ ]:
def salary_prediction(experience, testscore, interviewscore):
#turning the arguments into a numpy array  

  x = np.array([experience, testscore, interviewscore]).reshape(1,-1)

  prediction = reg.predict(x)

  return prediction

In [ ]:
salary_prediction(2,8,7)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53640.04023802])

In [ ]:

app = gr.Interface(fn=salary_prediction, inputs=['number','number','number'], outputs=['number'],description="This is a salary prediction model")
app.launch('debug=True')

Colab notebook detected. To show errors in colab notebook, set debug=True in launch()
Note: opening Chrome Inspector may crash demo inside Colab notebooks.

To create a public link, set `share=True` in `launch()`.